*{
    font-family: 'Roboto' , sans-serif;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}



.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.logo{
   color: #F9FAF8;
   font-size: 24px;
   font-weight: 900;
   padding: 24px;
   margin-left: 48px;
}

ul{
    color: #E5E7Eb;
    font-size: 18px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 24px;
     margin-right: 72px ;
    
}

.topSegment{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.topText{
    margin: 24px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.topImage{
    height: 250px;
    width: 400px;
    margin: 24px;
    padding: 48px;
}

.BigHeader{
    color: #F9FAF8;
   font-size: 48px;
   font-weight: 900;
}

.normalText{
    color: #E5E7Eb;
    font-size: 18px;
}

.topButton{
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7Eb;
    border-radius: 5px;
    border: #E5E7EB;
    width: 150px;
    height: 40px;
}


.middleSegment{
display: flex;
flex-direction: column;
align-items: center;
}

.midHeading{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 48px;
}
.midBlock{
display: flex;
justify-content: space-between;
gap: 12px;
margin: 96px;
margin-top: 48px;
}

.midOne, .midTwo, .midThree, .midFour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #1f2937;
    font-size: 18px;
    
}

.midImage{
    height: 150px;
    width: 150px;
    margin: auto;
}

.text{
    font-size: 18px;
    color: #1F2937;
}

.quoteSegment{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 96px;
    padding-left: 240px;
    padding-right: 240px;
}

.quoteText{
    font-size: 36px;
    font-style:italic;
    color: #1F2937;
    font-weight: 300;
}

.author{
    font-size: 18px;
    color: #1F2937;
    font-weight: 900;
    text-align: right;
}

.bottomSegment{

}

.bottomBigText{
    background-color: #3882F6;
    font-size: 24px;
    font-weight: 900;
    color: #E5E7Eb
}

.bottomSmallText{

    background-color: #3882F6;
    font-size: 18px;
    
    color: #E5E7Eb
}

.bottomButton{
    background-color: #3882F6;
    font-size: 18px;
    
    color: #E5E7Eb;
    border-radius: 5px;
    border: #E5E7EB;
}

.footer{
    background-color: #1F2937;
}

.footerText{
    font-size: 18px;
    
    color: #E5E7Eb;
    font-weight: 300;
}